 <header class="bg-tahiti-500">
        <nav class="bg-gray-500">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between items-center py-4 px-4">
                <div><h2 class="font-bold text-3xl">JungList</h2></div>
                <div class="flex space-x-8">
                    <a href="#" class="font-bold text-1xl">Create Account</a>
                    <a href="#" class="font-bold text-1xl">Logout</a>
                    <a href="/new-listing" class="font-bold text-1xl">Create Listing</a>
                </div>
            </div>
        </nav>
    </header>
   <main class="bg-slate-500">
    
    <main class="container">
    <h3>Input your user info here!</h3>
    <form class="form login-form">
         <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-login">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</main>

   </main>
   {{!-- <section class="container row">
    <ul>
        {{#each prettyUserData as |user|}}
        <li class="col-3">
            <a href="/search-page/{{user.email}}">
            {{user.user_password}}
            </a>
        </li>
        {{/each}}
    </ul>
</section> --}}

  <script src="./js/login.js"></script>