<header class="bg-white-500">
    <nav class="bg-gradient-to-r from-blue-300 to-blue-600">
        <div class="max-w-7xl mx-auto">
            <div class="flex justify-between items-center py-4 px-4">
                <div class="flex items-center ml-4">
                    <h2 class="font-bold text-3xl text-black .text-rubik">JungsList</h2>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-check-fill ml-2" viewBox="0 0 16 16">
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708z" />
                    </svg>
                </div>

                <div class="flex space-x-8">
                    <button id="search-go-sell" class="font-bold text-1x hover:bg-blue-100 text-black .text-rubik">My Account</button> 
                    <a href="/" class="font-bold text-1x hover:bg-blue-100 text-black .text-rubik">Logout</a>
                </div>
            </div>
    </nav>
</header>
<section class="container bg-gradient-to-r from-blue-300 to-blue-600">
  <a href="/"
    class="btn btn-primary bg-gradient-to-r from-blue-300 to-blue-600 hover:bg-blue-200 text-black grid justify-items-end border-none text-rubik">Home</a>
  <a href="/search"
    class="btn btn-primary rounded-full bg-gradient-to-r from-blue-300 to-blue-600 hover:bg-blue-200 text-black grid justify-items-end border-none text-rubik">Search
    Listing</a>
  <form id="listForm" class="py-10">
    <div class="mb-3">
      <label for="idName" class="form-label text-rubik">Customer ID</label>
      <input id="custID" aria-describedby="idHelp" class="w-full">
      <div id="idname" class="form-text text-white">Customer Service will provide you with an id on sign up</div>
    </div>
    <div class="mb-3">
      <label for="pdName" class="form-label text-rubik">Product Name</label>
      <input id="pdNameInput" aria-describedby="pdnameHelp" class="w-full">
      <div id="pdname" class="form-text text-white">What is the name of your product?</div>
    </div>
    <div class="mb-3">
      <label for="cat" class="form-label text-rubik">Category</label>
      <input id="categoryInput" aria-describedby="catHelp" class="w-full">
      <div id="catHelp" class="form-text text-white">What category would this item belong to?</div>
    </div>
    <div class="mb-3">
      <label for="pdCond" class="form-label text-rubik">Product Condition</label>
      <input id="pdCondInput" aria-describedby="pdCondHelp" class="w-full">
      <div id="pdCondHelp" class="form-text text-white">What condition is your product in?</div>
    </div>
    <div class="mb-3">
      <label for="quantity" class="form-label text-rubik">Quantity</label>
      <input id="quantityInput" aria-describedby="quantHelp" class="w-full">
      <div id="quantHelp" class="form-text text-white">How many do you have to sell?</div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label text-rubik">Price</label>
      <input id="priceInput" aria-describedby="priceHelp" class="w-full">
      <div id="priceHelp" class="form-text text-white">Format: 0000.00</div>
    </div>
    <div class="mb-3">
      <label for="branding" class="form-label text-rubik">Brand</label>
      <input id="brandInput" aria-describedby="brandHelp" class="w-full">
      <div id="brandHelp" class="form-text text-white">What namebrand is your item?</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label text-rubik">Description</label>
      <input id="descriptionInput" aria-describedby="emailHelp" class="w-full">
      <div id="descHelp" class="form-text text-white">How would you describe your item?</div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label text-rubik">Location</label>
      <input id="locationInput" class="w-full">
      <div id="locationHelp" class="form-text text-white">Where are you located?</div>
    </div>
    <button id="list-submit" type="submit"
      class="btn btn-primary bg-gradient-to-r from-blue-300 to-blue-600 text-lime-300 hover:bg-black">Submit</button>
  </form>
</section>
<script src="/js/list.js"></script>
<script src="./js/searchpage-links.js"></script>