<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="css/signup-page.css">
    
</head>
 <header class="bg-tahiti-500">
        <nav class="bg-gray-500">
            <div class="max-w-7xl mx-auto">
                <div class="flex justify-between items-center py-4 px-4">
                <div><a href="/" class="font-bold text-3xl">JungsList</a></div>
            </div>
        </nav>
    </header>
   
   <div class="container">
        <form id="form">
            <h1>Create a new account!</h1>
            <div class="input-field"> 
                <label for="emailInput">Email</label>
                <input id="emailInput" name="email" type="text">
                <div class="error"></div>
            </div>
            <div class="input-field"> 
                <label for="passwordInput">Password</label>
                <input id="passwordInput" name="password" type="password">
                <div class="error"></div>
            </div>
            <div class="input-field"> 
                <label for="confirmPasswordInput">Confirm Password</label>
                <input id="confirmPasswordInput" name="confirmPassword" type="password">
                <div class="error"></div>
            </div>
            <div class="input-field"> 
                <label for="locationInput">Location</label>
                <input id="locationInput" name="location" type="text">
                <div class="error"></div>
            </div>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <script src="./js/signup.js"></script>
    

   