.container {
    display: flex;
    justify-content: center;
}

#form {
    width: 30%;
    padding: 16px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    justify-content: center;
    margin-top: 64px;
}

#form h1 {
    text-align: center;
    font-size: 32px;
}

#form button {
    padding: 12px;
    margin: 16px 0px;
    width: 100%;
    color: black;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;
}

.input-field input {
    border-radius: 8px;
    border: 1px solid lightgray;
    display: block;
    font-size: 16px;
    padding: 12px;
}

label {
    font-size: 16px;
    margin-bottom: 4px;
}

.input-field input:focus {
    outline: 0;
}

.input-field.success input {
    border-color: #50c878;
}

.input-field.error input {
    border-color: red;
}

.input-field.error {
    color: red;
    font-size: 12px;

}