.product-list-container {
    margin-top: 50px;
  }
.product-container button {
    font-size: 36px;
    height: 40px;
  }
  
  .list-group-item {
    font-size: 28px;
  }
  .navbar-custom {
    height: 100px;

  }
  