.product-list-container {
    margin-top: 50px;
  }
.product-container button {
    font-size: 56px;
    height: 60px;
  }
  
  .list-group-item {
    font-size: 48px;
  }
  .navbar-brand a {
    font-size: 6rem;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .card-footer {
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  